.each-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.head {
  font-family: 'Roboto';
  font-size: 16px;
  color: #000000;
  align-items: flex-start;
  margin-right: 20px;
  font-weight: 500;
  margin-right: 20px;
}

.btn-sty {
  background-color: #ffff;
  height: 30px;
  width: 90px;
  font-family: 'Roboto';
  font-size: 14px;
  color: #ff0b37;
  border: 1px solid #ff0b37;
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  cursor: point;
}
